* {
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Medium.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.main {
    background-color: #F3F3F3;
}

.container {
    max-width: 1076px;
    min-width: 375px;
    padding: 0 15px;
}

.choose {
    padding: 53px 0 118px 0;
}

.choose__box {
    width: 66%;
    text-align: center;
    margin: 0 auto 75px auto;
}

.choose__box-headindg {
    font-size: 36px;
    line-height: 57px;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}

.choose__box-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.choose__card {
    text-align: center;
}

.choose__card-section-page {
    background-color: #FFFFFF;
    height: 100%;
    padding: 30px 0;
}

.icon {
    margin-bottom: 10px;
}

.choose__card-section {
    margin-bottom: 30px;
}

.choose__card-section:last-child {
    margin-bottom: 0px;
}

.choose__card-section-page-title {
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 10px;
}

.choose__card-section-page-subtitle {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #737373;
}

.advice {
    padding: 98px  0 243px 0;
}

.advice__box {
    width: 66%;
    text-align: center;
    margin: 0 auto 75px auto;
}

.advice__box-headindg {
    font-size: 36px;
    line-height: 57px;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}

.advice__box-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.advice__card-section-page {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 100%;
}

.advice__card-section-page-info-subtitle {
    color: #252B42;
    margin: 0 0 15px 30px;
    padding-top: 30px;
}

.advice__card-section-page-info-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 0 0 30px 30px;
}

.advice__card-section-page-info {
    width: 90%;
}

.image {
    width: 100%;
}

.advice__card-section {
    margin-bottom: 30px;
}

.advice__card-section:last-child {
    margin-bottom: 0px;
}

@media screen and (min-width: 769px) {
    .choose__card-section, .advice__card-section {
        width: 50%;
        padding: 0 15px;
    }
    .margin-three {
        margin-bottom: 0;
    }
    .grey {
        background: linear-gradient(180deg, #FAFAFA 0%, #E2E2E2 100%);
    }
    .white {
        background: #FAFAFA;
    }
    .display-card {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1046px) {
    .choose__card-section, .advice__card-section {
        width: 25%;
        padding: 0 15px;
    }
    .choose__card-section, .advice__card-section {
        margin-bottom: 0;
    }
    .choose__box {
        width: 50%;
        margin: 0 auto 50px auto;
    }
    .advice__box {
        width: 45%;
        margin: 0 auto 45px auto;
    }
    .choose {
        padding: 80px 0 80px 0;
    }
    .advice {
        padding: 125px 0 81px 0;
    }
}